header{
	width: 100%;
	top: 0;
	position: fixed;
	background-color: white;
	z-index: 2;
}
.header{
	margin: 25px 50px;
	height: 100px;
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
img{
	height: 100%;
}
.container-basic-info .logo{
	height: 106px;
}
.align-bot{
	display: inline-block;
	vertical-align: bottom;
}
.container-basic-info .sponsor{
	margin: 0 24px;
	display: inline;
}
.container-basic-info .vice-sponsor{
	height: 65%;
	transform: translateY(-25%);
}
.basic-info-font{
	font-size: 16pt;
	font-family: Lato;
	text-decoration: none;
	color: black;
}
.container-basic-info .user-info{
	display: flex;
}
.container-basic-info .user-data{
	margin: auto 20px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}
.container-basic-info .user-icon{
	height: 25px;
	border-radius: 50%;
	overflow: hidden;
}
.container-basic-info .user-data .user-score{
	opacity: 0;
	color: rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}
.container-basic-info .user-data:hover .user-score{
	opacity: 1;
}
.menu-icon{
	cursor: pointer;
}
.menu-icon div{
	width: 32px;
	height: 2px;
	background-color: #333;
	margin: 5px 0;
	transition: 0.4s;
}
.menu-content{
	background-color: white;
	height: 100%;
	width: 100%;
	opacity: 0;
	z-index: 2;
	visibility: hidden;
	position: fixed;
	overflow: hidden;
	transition: opacity 0.5s ease-in-out;
}
.menu-content ul{
	display: block;
	list-style: none;
	text-align: center;
	padding: 50px;
}
.menu-content ul li{
	list-style-type: none;
	opacity: 0;
	font-size: 30pt;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	text-align: center;
	transition: 0.5s;
}
.menu-content ul li:nth-child(odd){
	transform: translate(-50%, 0);
}
.menu-content ul li:nth-child(even){
	transform: translate(50%, 0);
}
.menu-content ul li a{
	color: #9b9b9b;
	text-decoration: none;
}
.menu-content ul li:hover a{
	color: black;
	font-weight: bold;
}
.menu-content ul li::after,
.menu-content ul li::before{
	width: 0%;
	content: '';
	margin: 30px 0;
	height: 10px;
	background-color: blue;
	transition: 0.5s;
}
.menu-content.openNav ul li{
	transform: translate(0, 0);
	opacity: 1;
}
.openNav{
	display: inline;
	visibility: visible;
	opacity: 0.95;
}
.change div:nth-child(1) {
	-webkit-transform: rotate(-45deg) translate(-5px, 3px);
	transform: rotate(-45deg) translate(-5px, 3px);
}

.change div:nth-child(2) {opacity: 0;}

.change div:nth-child(3) {
	-webkit-transform: rotate(45deg) translate(-7px, -5px);
	transform: rotate(45deg) translate(-7px, -5px);
}
