body{
	font-family: PingFang;
}
.container-content{
	margin-top: 0;
	padding: 30px 105px;
}
.container-content .title{
	font-size: 30pt;
	font-weight: bold;
	padding: 10px 0;
}
.container-content .content{
	padding: 10px 0;
}
.content .subtitle{
	font-size: 25pt;
	font-weight: bold;
	padding: 10px 0;
}
.content-article{
	padding: 0;
	margin: 0;
}
.content-article pre{
	padding: 0;
	margin: 0;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	font-size: 15pt;
	line-height: 1.36;
	font-weight: 200;
}
.content .content-image{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 25px 0;
}
.content-image img{
	box-shadow: 0 0 10px grey;
	width: 100%;
}
.chapter-title{
	font-size: 25pt;
	font-weight: bold;
	padding: 30px 0;
}
.account-login{
	display: inline-flex;
	justify-self: left;
}
.account-login .account-attribute{
	margin-left: 25px;
}
.attribute .attribute-name{
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #4a4a4a;
	margin: 6px 0;
}
.attribute-value .value{
	box-sizing: border-box;
	width: 245px;
	height: 35px;
	border-radius: 5px;
	padding: 0 10px;
	border: solid 1px #dfe3e9;
	object-fit: contain;
}

.attribute-value .final-value{
	width: 180px;
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0px;
}
.btn-submit{
	height: 35px;
	width: 90px;

}
.btn-submit input{
	height: 100%;
	width: 100%;
	border-radius: 0 5px 5px 0;
	border: solid 1px #dfe3e9;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}
.btn-submit input:hover{
	filter: brightness(115%);
}
.btn-submit .btn-login{
	background-color: #0db5ad;
}
