.header{
    width: 100%;
    position: fixed;
    top: 0;
}
.headerCont{
    width: 100%;
}
.userProfile ul{
    margin: 0;
    margin-right: 10px;
    list-style: none;
}
.userProfile li {
    position: relative;
    display: inline-flex;
    justify-content: center;
}
.userProfile .btn{
    margin: 10px;
}
.userProfile .btn::after{
    border-radius: 40%;
    transform: translateY(15px);
    content: '';
    height: 5px;
    width: 0;
    transition: 0.3s;
    display: block;
    background: white;
    position: absolute;
    opacity: 0.5;
}
.btn:hover::after{
    width: 100%;
}
.btn:hover{
    color: yellow;
}
.btn span{
    position: block;
    display: inline-block;
    transition: all 0.2s;
}
.btn:hover span{
    text-shadow: 0 10px 2px black;
    transform: translateY(-5px);
}
.headerCont{
    background-color: dimgrey;
    display: flex;
    justify-content: space-between;
    color: white;
}
.navigateIcon{
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    margin: 5px;
    padding: 0;
}
.navigateCont{
    background-color: grey;
    height: 100%;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    overflow: hidden;
}
.navigateCont ul{
    display: block;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    transition-duration: 3s;
}
.openNav{
    visibility: visible;
    opacity: 0.8;
    transition: 0.2s;
}
.navigateCont ul li{
    margin: 1px auto;
    list-style-type: none;
    transform: translate(-100px, -200px);
    opacity: 0;
    font-size: 28pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    text-align: center;
}
.navigateCont ul li:hover a{
    color: white;
    transform: translate(0,-5px);
    text-shadow: 0 10px 5px black;
    transition-duration: 0.2s;
    transition-delay: 0.25s;
}
.navigateCont ul li::after,
.navigateCont ul li::before{
    width: 0%;
    content: '';
    height: 10px;
    background-color: blue;
    transition: width 0.5s, transform 0.1s ease 0.15s, box-shadow 0.2s ease 0.3s;

}
.navigateCont ul li:hover::after,
.navigateCont ul li:hover::before{
    width: 100%;
    box-shadow: 0 10px 5px black;
    transform: translate(0, 5px);
}
.navigateCont.openNav ul li{
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.3s;
}
.navigateCont.openNav ul li:nth-child(1){
    transition-delay: 0.15s;
}
.navigateCont.openNav ul li:nth-child(2){
    transition-delay: 0.3s;
}
.navigateCont.openNav ul li:nth-child(3){
    transition-delay: 0.45s;
}
.navigateCont.openNav ul li:nth-child(4){
    transition-delay: 0.6s;
}
.navigateCont.openNav ul li:nth-child(5){
    transition-delay: 0.75s;
}
.navigateCont.openNav ul li:nth-child(6){
    transition-delay: 0.9s;
}
.navigateCont.openNav ul li:nth-child(7){
    transition-delay: 1.05s;
}
.navigateCont.openNav ul li:nth-child(8){
    transition-delay: 1.2s;
}
.navigateCont.openNav ul li:nth-child(9){
    transition-delay: 1.35s;
}
.navigateCont ul li a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
}
.mainContent::before{
    content: '.';
    color: transparent;
}