body{
	overflow-x: hidden;
}
.container-content{
	padding: 0;
	width: 100%;
}
.container-title{
	z-index: 10px;
	display: flex;
	justify-content: space-between;
	padding: 10px 50px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 5px 10px rgba(139, 139, 139, 0.1);
	transition: all 0.2s;
}
.container-title .title-content{
	display: flex;
}
.container-title:hover{
	background-color: rgba(139, 139, 139, 0.1);
	box-shadow: 0px 5px 10px rgba(139, 139, 139, 0.3);
}
.container-title:hover .lesson-title{
	color: rgb(50,50,50,0.8);
}
.container-title .btn-back:hover a span{
	color: rgb(100,100,100,0.8);
}
.container-title div{
	margin-right:50px;
	font-size: 20pt;
	color: darkgrey;
	transition: all 0.2s;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Safari */
	-khtml-user-select: none;    /* Konqueror HTML */
	-moz-user-select: none;      /* Old versions of Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}
input[type=checkbox]{
	display: none;
}
input[type=checkbox] + .btn-swap{
	cursor: pointer;
	height: 20px;
	width: 20px;
	display:inline-block;
	padding: 0 0 0 0px;
	background-size: contain;
	background-origin: content-box;
	background-image: url("swap.png");
	background-repeat: no-repeat;
	transition: all 0.2s;
}
input[type=checkbox]:checked + .btn-swap{
	transform: rotate(90deg);
}
.btn-swap:hover{
	filter: brightness(115%);
	opacity: 0.5;
}
.content{
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}
.session-title{
	text-align: center;
	text-shadow: 0 0 3px rgba(139, 139, 139, 0.7);
	padding: 15px;
	font-size: 20pt;
	color: rgba(99, 99, 99, 0.9);
	background-color: rgba(139, 139, 139, 0.1);
	transition: all 0.2s;
}
.session-title:hover{
	background-color: rgba(139, 139, 139, 0.3);
	text-shadow: 8px 5px 3px rgba(139, 139, 139, 0.7);
	color: black;
	transform: scale(1.1);
}
.content-container{
	margin: 15px auto;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(139, 139, 139, 0.5);
}
.article{
	padding: 40px;
}
.article span{
	padding: 20px;
	word-wrap: break-word;      /* IE 5.5-7 */
	white-space: -moz-pre-line; /* Firefox 1.0-2.0 */
	white-space: pre-line;      /* current browsers */
}
.question-text{
	padding: 15px;
	font-size: 13px;
	font-weight: bold;
	border-bottom: 2px solid rgba(139, 139, 139, 0.1);
	display: flex;
	justify-content: space-between;
}
.question-text .mark{
	color: #39b54a;
	font-size: 12px;
}
.question-text:hover{
	background: rgba(139, 139, 139, 0.1);
}
.container-answer{
	padding: 10px 30px;
}
.answer{
	display: flex;
	justify-content: space-between;
}
.answer-radio{
	display: inline-block;
	position: relative;
	margin: 5px 0;
	padding-left: 30px;
	font-weight: 500;
	cursor: pointer;
}
.answer-radio input[type="radio"]{
	display: none;
}
.answer-radio span{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 3px solid #4a90e2;
	display: block;
	position: absolute;
	left: 0;
	top: 2px;
}
.answer-radio span::after{
	content: "";
	height: 5px;
	width: 5px;
	background-color: #4a90e2;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	border-radius: 50%;
	transition: all 0.2s ease-in-out;
}
.answer-radio input[type="radio"]:checked ~ span::after{
	transform: translate(-50%, -50%) scale(1);
}
.answer-radio input[hidden] ~ span{
	display: none;
}
.container-submit{
	margin: 0 auto;
	width: 50%;
	display: flex;
	justify-content: flex-end
}
.btn-submit{
	height: 35px;
	cursor: pointer;
}
.btn-submit input{
	height: 100%;
	width: 100%;
	border-radius: 5px;
	border: solid 1px #dfe3e9;
	border-left: 0px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	background-color: #0db5ad;
	cursor: pointer;
}
.btn-submit input:hover{
	filter: brightness(115%);
}
.ctn_swaped{
	flex-direction: row;
}
.ctn_swaped .content-content{
	width: 50%;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.ctn_swaped .content-container{
	margin: 15px;
	width: auto;
}
.ctn_swaped .container-submit{
	margin: 0 15px;
	width: auto;
}
