.container-subject{
	position: relative;
}
.container-subject .btn{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0 10px;
	background-color: #0db5ad;
	cursor: pointer;
}
.container-subject .btn:hover{
	filter: brightness(115%);
}
.container-subject .btn a{
	padding: 10px;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	border: solid 1px #dfe3e9;
	border-left: 0px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	background-color: #0db5ad;
	cursor: pointer;
}
.container-description{
	margin: 10px;
	padding: 40px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(139, 139, 139, 0.5);
	overflow: auto;
}
.container-description span{
	padding: 20px;
	word-wrap: break-word;      /* IE 5.5-7 */
	white-space: -moz-pre-line; /* Firefox 1.0-2.0 */
	white-space: pre-line;      /* current browsers */
}
.container-content{
	margin-top: 0;
}
.container-content .title{
	padding-top: 40px;
	font-weight: bold;
	font-size: 32pt;
}
.container-content .page{
	border-bottom: 2px solid rgba(0,0,0,0.1);
	display: flex;
	width: 30%;
	margin-bottom: 12px;
}
.container-content .page-title{
	padding: 15px;
	padding-top: 30px;
	cursor: pointer;
	position: relative;
	width: 50px;
	text-align:center;
	display: flex;
	justify-content: center;
}
.container-content .page-title a{
	color: black;
	font-size: 7pt;
}
.container-content .page-title:hover a{
	font-weight: bold;
}
.container-content .page-title::after{
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -2px;
}
.container-content .page-title:hover::after{
	border-bottom: 2px solid black;
}
.content{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
}
.card-course{
	margin: 12px;
	background-color: white;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
	height: 175px;
	width: 290px;
	overflow: hidden;
}
.card-course .title{
	font-weight: bold;
	font-size: 18px;
	padding: 15px;
}
.card-course .title:hover{
	background: rgba(139, 139, 139, 0.1);
}
.card-course .description{
	line-height: 1.5;
	font-size: 14px;
	padding: 15px;
	padding-top: 0;
	word-wrap: break-word;
	height: 60px;
	overflow: auto;
	border-bottom: 2px solid rgba(139, 139, 139, 0.1);
}
.card-course .tail{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	height: 17px;
	transition: 0.2s;
	font-size: 14px;
}
.card-course .tail:hover{
	background: rgba(139, 139, 139, 0.1);
}
.tail .enroll a{
	color: #39b54a;
}
.tail .enroll a:hover{
	color: rgb(97, 209, 97);
}
.tail .point{
	font-weight: bold;
}
